# Övningar code along

### Challenge 1: Sorting out references

What does the following program print out?

~~~
first, second = 'Grace', 'Hopper'
third, fourth = second, first
print(third, fourth)
~~~

In [1]:
first, second = 'Grace', 'Hopper'
third, fourth = second, first
print(third, fourth)

Hopper Grace

### Challenge 2: Slicing strings 

A section of an array is called a [slice](reference.html#slice).
We can take slices of character strings as well:

What is the value of `element[:4]`?
What about `element[4:]`?
Or `element[:]`?

What is `element[-1]`?
What is `element[-2]`?
Given those answers,
explain what `element[1:-1]` does.

In [5]:
element = 'oxygen'
print(element[0:3])
print(element[3:6])

oxy
gen

In [8]:
print(element[:4])
print(element[4:])
print(element[:])
print(element[-1])
print(element[-2])

oxyg
en
oxygen
n
e

## Tutorial 2: Repeating Actions with Loops

## Challenge 1: From 1 to N 
Python has a built-in function called `range` that creates a sequence of numbers. Range can
 accept 1-3 parameters. If one parameter is input, range creates an array of that length,
 starting at zero and incrementing by 1. If 2 parameters are input, range starts at
 the first and ends just before the second, incrementing by one. If range is passed 3 parameters,
 it starts at the first one, ends just before the second one, and increments by the third one. For
 example,
 `range(3)` produces the numbers 0, 1, 2, while `range(2, 5)` produces 2, 3, 4,
 and `range(3, 10, 3)` produces 3, 6, 9.
 Using `range`,
 write a loop that uses `range` to print the first 3 natural numbers:

 ~~~ {.python}
 1
 2
 3
 ~~~

In [9]:
#challenge 1
for i in range(3):
  print(i + 1)

1
2
3

Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

In [10]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print("Current Number", i, "Previous Number ", previousNum," Sum: ", sum)
        previousNum = i

print("Printing current and previous number sum in a given range(10)")
sumNum(10)

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [11]:
sumNum(5)

Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7

## Challenge 2: Computing powers with loops

Exponentiation is built into Python:

 ~~~ {.python}
 print(5 ** 3)
 ~~~
 ~~~ {.output}
 125
 ~~~

Write a loop that calculates the same result as `5 ** 3` using multiplication (and without exponentiation).

In [12]:
#challenge 2
x = 5
exponent = 3
product = 1

for i in range(exponent):
    # product = product * x
    product *= x
    
print(product)

125

## Challenge 3: Reverse a string

Write a loop that takes a string,and produces a new string with the characters in reverse order, so `'Newton'` becomes `'notweN'`. The `len()` function might be useful.

**Please note!** There are much more compact ways to do things like reversing
a string, put we won't go into that at this time.

In [13]:
#challenge3
s = 'Newton'
s_rev = ''
for i in range(len(s)):
    s_rev += s[len(s)-i-1]
    # Print out intermediate results to check our logic
    print(s_rev)

print(s_rev)

n
no
not
notw
notwe
notweN
notweN

In [15]:
s="Newton" 
stringlength=len(s)
slicedString=s[stringlength::-1] 
print (slicedString)

notweN

## Tutorial 3: List tutorial 
OBS! Vissa ord är reserverade i python, men går fortfarande att använda, dock uppstår ofta märkliga fel då. Ett exempel är list.

In [19]:
#sort the list 
lst=[11, 100, 99, 1000, 999, 457,289]

lst.sort()
print(lst)

[11, 99, 100, 289, 457, 999, 1000]

In [20]:
msg="Be yourself, everyone else is taken."
#Type your code here.

msg_length=len(msg)


print(msg_length)

36

In [21]:
#How long is the list lst?
lst=[11, 10, 12, 101, 99, 1000, 999]

answer_1= len(lst)


print(answer_1)

7

Create a list of gift and print out the last gift in the list.

In [22]:

gift_list=['book', 'playstation', 'wine', 'make up']

index_no= len(gift_list)-1

ans_1=gift_list[index_no]

print(ans_1)

make up

How many keyes are in the dictionary below?

In [23]:
dict={"Real Madrid": 13,"AC Milan": 7,"Bayern Munich":5 ,"Barcelona": 5, "Liverpool": 5}  

ans_1=len(dict)

print(ans_1)

5

Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2.

In [24]:

color_list_1 = set(["White", "Black", "Red", "Blue", "Green"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'Blue', 'White', 'Black'}

Create a function in python that takes a list of numbers. Iterate it and print only those numbers which are divisible of 5

In [ ]:
def findDivisible(numberList):
    print("Given list is ", numberList)
    print("Divisible of 5 in a list")
    for num in numberList:
        if (num % 5 == 0):
            print(num)

numList = [10, 20, 33, 46, 55]
findDivisible(numList)

### Turn a string into a list

Use a for-loop to convert the string "hello" into a list of letters:

~~~
["h", "e", "l", "l", "o"]
~~~

Hint: You can create an empty list like this:

~~~
my_list = []
~~~

In [25]:
word = "hello"

my_list = []
for i in word:
    my_list.append(i)
    
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [26]:
#meen, det behövs ingen for-loop
word = "hello"
my_list = []
my_list = list(word)
print(my_list)

['h', 'e', 'l', 'l', 'o']

### Challenge 2: Tuples and exchanges

Explain what the overall effect of this code is:

~~~
left = 'L'
right = 'R'

temp = left
left = right
right = temp
~~~

Compare it to:

~~~
left, right = right, left
~~~

Do they always do the same thing?
Which do you find easier to read?

In [27]:
left = 'L'
right = 'R'

mytuple = left, right
print(mytuple)
print(mytuple[0])
print(mytuple[1])

('L', 'R')
L
R

In [ ]:
left = 'L'
right = 'R'
left, right = right, left
print("left " + left)
print("right " + right)

In [ ]:
left = 'L'
right = 'R'

temp = left
left = right
right = temp

print("left " + left)
print("right " + right)

## Other good stuff

### RegEx

RegEx är en speciell funktionalitet som Pyhton importerat och kan vara användbar för att kontrollera hur olika strängar ser ut. För att läsa mer om RegEx i Python se denna [länk](https://docs.python.org/3/howto/regex.html)

Om inte annat så kan man bygga massa coola grejer med hjälp av RegEx, men syntaxen är lite krånglig och det tar ett tag att sätta sig in i det. Vill man skapa egna web-crawlers som hämtar data på internet är RegEx nästan obligatoriskt.

In [28]:
#Exempel 1: Kontrollera att en sträng endast innehåller godkända variabler:
import re
def is_allowed_specific_char(string):
    charRe = re.compile(r'[^a-zA-Z0-9.]')
    string = charRe.search(string)
    return not bool(string)

print(is_allowed_specific_char("ABCDEFabcdef123450")) 
print(is_allowed_specific_char("*&%@#!}{"))

True
False

In [29]:
#Exempel 2: Hitta de strängar som innehåller en stor bokstav som följs av flera små:
import re 
def match(text):      
        # regex 
        pattern = '[A-Z]+[a-z]+$'   
        # searching pattern 
        if re.search(pattern, text): 
                return('Yes') 
        else: 
                return('No') 
# Driver Function 
print(match("my name is elin")) 
print(match("My name is Elin")) 
print(match("My name is elin")) 
print(match("my name is Elin"))

No
Yes
No
Yes

In [30]:
#Exempel 3: Hitta alla siffror i en text (attribution to Shwetanshu Rohatgi at GeeksForGeeks for the initial code)

import re   
# Example String  
s = 'My 4 favourite numbers are 77, 10 and 457'
  
# find all function to select all digit from 0    
# to 9 [0-9] for numeric Letter in the String 
# + for repeats a character one or more times 
lst = re.findall('[0-9]+', s)     
  
# Printing of List 
print(lst)

['4', '77', '10', '457']

In [31]:
#Exempel 4: Hitta och plocka ut alla mailadresser i en text och spara dem (attribution to shubhamg199630 for the inital code)

import re  
  
# Example string  
s = 'Hello from shubhamg199630@gmail.com to priya@yahoo.com about the meeting @2PM'
  
# \S matches any non-whitespace character 
# @ for as in the Email 
# + for Repeats a character one or more times 
lst = re.findall('\S+@\S+', s)     
  
# Printing of List 
print(lst)

['shubhamg199630@gmail.com', 'priya@yahoo.com']

In [32]:
import re  
  
# Example string  
s = '@ a place called home I am waiting for my lover XXX@gmail.com to arrive. He will bring my best@friend.nuuuu who is @a. small party @my.house'
  
# \S matches any non-whitespace character 
# @ for as in the Email 
# + for Repeats a character one or more times 
lst = re.findall('\S+@\S+', s)     
  
# Printing of List 
print(lst)

['XXX@gmail.com', 'best@friend.nuuuu']